
$colorHeader: #6153CC;
$colorTitulo:white ;
$colorTexto:black;
$sizeTexto: 22px;



body {
    margin: 0;
    color: $colorTitulo;
}

.header     
{
    margin: 0cm;
    padding: 0cm;
    width: 100%;
    height: 100px;
    background-color: $colorHeader ;
    color: $colorTitulo;
    display:flex;
    justify-content: space-around;
    align-items: center;
    

    h1 {
        margin:0cm;
        font-size: 45px;
    }

    img {
        width: 100px;
    }

    input {
        border-radius: 15px;
        width: 200px;
        height: 30px;
    }

    .header__botones {
        width: 290px;
        display: flex;
        align-items: flex-end;
        
        div {
            margin: 0px 2px;
            border: solid 2px white;
            width: 150px;
            font-size: $sizeTexto;

            a {
                text-decoration: none;
                color: $colorTitulo;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }
}

.presentacion {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: solid 2px $colorHeader;
    padding: 4px;
    margin: 1% 15%;
    width: 60%;
    height: 400px;
    color: $colorTexto;
    font-size: $sizeTexto;

    img {
        width: 80px;
    }
}

.footer {
    width: 100%;
    height: 150px;
    background-color: $colorHeader;
    display: inline-block;

    img {
        width: 50px;
    }
}